        body {
                margin: 0;
                padding: 0 10px 0 10px;
                height: 100%;
        }

        #contentframe {
                margin: 110px 0px 0px 170px;
                display: block;
                padding: 10px;
				position: fixed;
        }

        #headerframe {
                display: block;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 112px;
                position: fixed;
                background-color: #ffffff;
                border: 1px solid #888;
        }

        #navigationframe {
                display: block;
                top: 113px;
                left: 0px;
                width: 180px;
                height: 80%;
                position: fixed;
                border: 1px solid #888;
				overflow-y: scroll;
        }

        * html #header {position: absolute;}
        * html #navigation {position: absolute;}
#tableHome {
		margin: 1px 0px 3px 2px;
		display: block;
		padding: 10px;
}
.displaytbl tr:hover {
    background-color: yellow;
}