<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<head>
		<title>JSFServlet times graph for pages</title>
		<meta name="description" content="This is an example of a meta description. This will often show up in search results."/>
		<link rel="stylesheet" href="includes/css/scrollNav.css" type="text/css"></link>
		<link href="includes/css/frames.css" type="text/css" rel="stylesheet"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="includes/js/ajax.js"></script>
		<script type="text/javascript" src="includes/js/welcomePage.js"></script>
	</head>
	<body onload="fadeIn();bldMenu('ulmenu','#{healthCheckBean.applications}')">
		<ui:include src="mainNavigation.xhtml" />
		<div id="contentframe" class="content">
		  <ui:include src="indexDoc.xhtml" />
		</div>
	</body>
</html>