<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<head>
		<title>load balancer</title>
		<link rel="stylesheet" href="includes/css/scrollNav.css" type="text/css"></link>
		<link href="includes/css/coverPage.css" type="text/css" rel="stylesheet"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="includes/js/shoplistSupport.js"></script>
		<script type="text/javascript" src="includes/js/ajax.js"></script>
		<script type="text/javascript" src="includes/js/welcomePage.js"></script>
	</head>
	<body onload="fadeIn()">
		test<input type="email" value="123" id="networkBgnTime" name="networkBgnTime"/>
		<ui:include src="mainNavigation.xhtml" />
		<div id="contentframe" class="content">
			<ui:include src="coverPage.xhtml" />
		</div>
	</body>
</html>