* {
	margin: 0;
	padding: 0;
}
body {
	overflow-x: hidden;
	background-color: #ccf;
}
nav {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 200px;
	background-color: #036;
	transform: translate3d(-200px,0,0);
	transition: transform 0.4s ease;
}
.dropbtn {
	background-color: #036;
	color: white;
}
.active-nav {
	transform: translate3d(0,0,0);
}
nav ul {
	list-style: none;
	margin-top: 100px;
	margin-left: 20px;
}
nav ul li a {
	text-decoration: none;
	display: block;
	color: #fff;
	padding: 5px 0;
}
.nav-toggle {
	display: block;
	position: absolute;
	left:200px;
	width:40px;
	height: 40px;
	background-color: #666;
}
.expand {
	color:#A9A9A9;	
}
.groups {
	display:none;
	text-indent: 10px;
}
